@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Grand+Hotel|EB+Garamond|Dancing+Script:400,700);
/* line 5, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* line 1, ../sass/common/_common.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8c931;
  color: #231f20;
  overflow: hidden;
}

/* line 8, ../sass/common/_common.scss */
* a {
  text-decoration: none;
  color: #231f20;
}

/* line 13, ../sass/common/_common.scss */
section {
  float: left !important;
  position: relative;
}

/* line 17, ../sass/common/_common.scss */
nav, .home__wrapper .home--article, .portfolio__wrapper .porfolio--article .portfolio__content--center, .flickr__wrapper .porfolio--article .portfolio__content--center, .flickr__wrapper .flickr--article .portfolio__content--center, .flickr__wrapper .flickr--article .flickr__content--center, .contact__wrapper .contact__wrapper--inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 25, ../sass/common/_common.scss */
.QOverlay {
  background-color: #000000;
  z-index: 9999;
}

/* line 30, ../sass/common/_common.scss */
.QLoader {
  background-color: #CCCCCC;
  height: 1px;
}

@font-face {
  font-family: 'codecave';
  src: url("../fonts/codecave.eot?44ypy");
  src: url("../fonts/codecave.eot?#iefix44ypy") format("embedded-opentype"), url("../fonts/codecave.woff?44ypy") format("woff"), url("../fonts/codecave.ttf?44ypy") format("truetype"), url("../fonts/codecave.svg?44ypy#codecave") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/common/_icon.scss */
[class^="codecave-"], [class*=" codecave-"] {
  font-family: 'codecave';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/common/_icon.scss */
.codecave-github:before {
  content: "\e604";
}

/* line 30, ../sass/common/_icon.scss */
.codecave-behance:before {
  content: "\e605";
}

/* line 34, ../sass/common/_icon.scss */
.codecave-camera:before {
  content: "\e600";
}

/* line 38, ../sass/common/_icon.scss */
.codecave-briefcase:before {
  content: "\e601";
}

/* line 42, ../sass/common/_icon.scss */
.codecave-home:before {
  content: "\e602";
}

/* line 46, ../sass/common/_icon.scss */
.codecave-envelope:before {
  content: "\e603";
}

/* line 1, ../sass/common/_nav.scss */
nav {
  left: 20px;
  width: 40px;
  height: 163px;
  margin: auto 0;
  z-index: 999;
  position: fixed;
}
/* line 9, ../sass/common/_nav.scss */
nav li {
  font-size: 30px;
  margin-bottom: 10px;
}
/* line 12, ../sass/common/_nav.scss */
nav li:last-child {
  margin-bottom: 0;
}

/* line 1, ../sass/common/_slider.scss */
.slider-wrapper {
  width: 38%;
  float: left;
  height: 100%;
  position: relative;
}
/* line 6, ../sass/common/_slider.scss */
.slider-wrapper .slider {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 82.83333%;
  margin-left: 0%;
  margin-right: 3%;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 460px !important;
  position: relative;
  overflow: auto;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.slider-wrapper .slider:before, .slider-wrapper .slider:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.slider-wrapper .slider:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
.slider-wrapper .slider:last-child {
  margin-right: 0%;
}
/* line 11, ../sass/common/_slider.scss */
.slider-wrapper .slider .slider--main {
  height: 421px !important;
}

/* line 18, ../sass/common/_slider.scss */
.slider--main2 li li {
  height: 125px;
  overflow: hidden;
}
/* line 21, ../sass/common/_slider.scss */
.slider--main2 li li img {
  height: auto !important;
  -ms-transform: translateY(-14%);
  -webkit-transform: translateY(-14%);
  transformY: translateY(-14%);
}

/* line 30, ../sass/common/_slider.scss */
li {
  list-style: none;
  float: left;
}
/* line 33, ../sass/common/_slider.scss */
li li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-right: 0;
  margin-bottom: 3%;
  position: relative;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
li li:before, li li:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
li li:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
li li:last-child {
  margin-right: 0%;
}
/* line 38, ../sass/common/_slider.scss */
li li:nth-child(even) {
  margin-left: 3%;
}
/* line 41, ../sass/common/_slider.scss */
li li span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 201, 49, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 48, ../sass/common/_slider.scss */
li li span:hover {
  background-color: rgba(248, 201, 49, 0);
}
/* line 52, ../sass/common/_slider.scss */
li li img {
  width: 100%;
  height: 125px;
}

/* line 58, ../sass/common/_slider.scss */
.dots {
  display: table;
  margin: 0px auto;
}
/* line 61, ../sass/common/_slider.scss */
.dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  text-indent: -999em;
  background-color: rgba(35, 31, 32, 0.5);
  border-radius: 100%;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
/* line 74, ../sass/common/_slider.scss */
.dots li.active {
  background: #231f20;
  opacity: 1;
}

/* line 1, ../sass/page/_index.scss */
.home__wrapper {
  background: url(../images/monzoor.png) no-repeat right bottom;
  position: relative;
  z-index: 1;
}
/* line 5, ../sass/page/_index.scss */
.home__wrapper .home--article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  height: 500px;
  text-align: center;
  margin-left: 10%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.home__wrapper .home--article:before, .home__wrapper .home--article:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.home__wrapper .home--article:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
.home__wrapper .home--article:last-child {
  margin-right: 0%;
}
/* line 11, ../sass/page/_index.scss */
.home__wrapper .home--article h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  line-height: 50px;
}
/* line 14, ../sass/page/_index.scss */
.home__wrapper .home--article h1 {
  margin-top: 20px;
  font-family: "Grand Hotel", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
}
/* line 18, ../sass/page/_index.scss */
.home__wrapper .home--article p {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
}

/* line 24, ../sass/page/_index.scss */
.home--background {
  content: "";
  background: url(../images/bg-3.png) no-repeat right bottom;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .2;
  position: absolute;
  z-index: 0;
}

/* line 1, ../sass/page/_portfolio.scss */
.portfolio__wrapper, .flickr__wrapper {
  background: url(../images/bg-2.png) no-repeat;
  background-size: cover;
}
/* line 4, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article, .flickr__wrapper .porfolio--article, .flickr__wrapper .flickr--article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  height: 100%;
  text-align: center;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.portfolio__wrapper .porfolio--article:before, .flickr__wrapper .porfolio--article:before, .flickr__wrapper .flickr--article:before, .portfolio__wrapper .porfolio--article:after, .flickr__wrapper .porfolio--article:after, .flickr__wrapper .flickr--article:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.portfolio__wrapper .porfolio--article:after, .flickr__wrapper .porfolio--article:after, .flickr__wrapper .flickr--article:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
.portfolio__wrapper .porfolio--article:last-child, .flickr__wrapper .porfolio--article:last-child, .flickr__wrapper .flickr--article:last-child {
  margin-right: 0%;
}
/* line 8, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article h1, .flickr__wrapper .porfolio--article h1, .flickr__wrapper .flickr--article h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 48px;
}
/* line 11, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article h2, .flickr__wrapper .porfolio--article h2, .flickr__wrapper .flickr--article h2 {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
}
/* line 17, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article p, .flickr__wrapper .porfolio--article p, .flickr__wrapper .flickr--article p {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
}
/* line 21, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article .portfolio__content--center, .flickr__wrapper .porfolio--article .portfolio__content--center, .flickr__wrapper .flickr--article .portfolio__content--center, .flickr__wrapper .flickr--article .flickr__content--center {
  width: 40%;
  height: 500px;
  margin-left: 10%;
}
/* line 27, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article .urls, .flickr__wrapper .porfolio--article .urls, .flickr__wrapper .flickr--article .urls {
  float: left;
  margin-top: 30px;
  text-align: left;
}
/* line 31, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article .urls [class^="codecave-"], .flickr__wrapper .porfolio--article .urls [class^="codecave-"], .flickr__wrapper .flickr--article .urls [class^="codecave-"] {
  font-size: 30px;
  margin-right: 20px;
  text-decoration: none;
  margin: 0;
  color: rgba(35, 31, 32, 0.5);
}
/* line 38, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article .urls a, .flickr__wrapper .porfolio--article .urls a, .flickr__wrapper .flickr--article .urls a {
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
}
/* line 42, ../sass/page/_portfolio.scss */
.portfolio__wrapper .porfolio--article .urls a span, .flickr__wrapper .porfolio--article .urls a span, .flickr__wrapper .flickr--article .urls a span {
  text-decoration: underline;
  margin-top: 5px;
  margin-left: 16px;
  display: block;
  float: left;
}

/* line 53, ../sass/page/_portfolio.scss */
.slider-wrapper {
  width: 38%;
  float: left;
  height: 100%;
  position: relative;
}
/* line 58, ../sass/page/_portfolio.scss */
.slider-wrapper .slider {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 82.83333%;
  margin-left: 0%;
  margin-right: 3%;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 460px !important;
  position: relative;
  overflow: auto;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.slider-wrapper .slider:before, .slider-wrapper .slider:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.slider-wrapper .slider:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
.slider-wrapper .slider:last-child {
  margin-right: 0%;
}
/* line 63, ../sass/page/_portfolio.scss */
.slider-wrapper .slider .slider--main {
  height: 421px !important;
}

/* line 70, ../sass/page/_portfolio.scss */
.slider--main2 li li {
  height: 125px;
  overflow: hidden;
}
/* line 73, ../sass/page/_portfolio.scss */
.slider--main2 li li img {
  height: auto !important;
  -ms-transform: translateY(-14%);
  -webkit-transform: translateY(-14%);
  transformY: translateY(-14%);
}

/* line 82, ../sass/page/_portfolio.scss */
li {
  list-style: none;
  float: left;
}
/* line 85, ../sass/page/_portfolio.scss */
li li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-right: 0;
  margin-bottom: 3%;
  position: relative;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
li li:before, li li:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
li li:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
li li:last-child {
  margin-right: 0%;
}
/* line 90, ../sass/page/_portfolio.scss */
li li:nth-child(even) {
  margin-left: 3%;
}
/* line 93, ../sass/page/_portfolio.scss */
li li span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 201, 49, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 100, ../sass/page/_portfolio.scss */
li li span:hover {
  background-color: rgba(248, 201, 49, 0);
}
/* line 104, ../sass/page/_portfolio.scss */
li li img {
  width: 100%;
  height: 125px;
}

/* line 110, ../sass/page/_portfolio.scss */
.dots {
  display: table;
  margin: 0px auto;
}
/* line 113, ../sass/page/_portfolio.scss */
.dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  text-indent: -999em;
  background-color: rgba(35, 31, 32, 0.5);
  border-radius: 100%;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
/* line 126, ../sass/page/_portfolio.scss */
.dots li.active {
  background: #231f20;
  opacity: 1;
}

/* line 132, ../sass/page/_portfolio.scss */
.flickr__wrapper {
  background: url(../images/bg-4.png) no-repeat right bottom;
  background-size: 80%;
}

/* line 1, ../sass/page/_xflickr.scss */
.flickr__wrapper {
  background: url(../images/bg-4.1.png) no-repeat right bottom;
  background-size: 80%;
}
/* line 5, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 41.66667%;
  margin-left: 0%;
  margin-right: 0%;
  display: table;
  height: 100%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--left:before, .flickr__wrapper .flickr__content--left:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--left:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--left:last-child {
  margin-right: 0%;
}
/* line 9, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--left .flickr__content--text {
  width: 90%;
  padding-left: 10%;
  display: table-cell;
  vertical-align: middle;
}
/* line 14, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--left .flickr__content--text h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  line-height: 48px;
  text-align: center;
}
/* line 18, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--left .flickr__content--text p {
  letter-spacing: .15em;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-top: 20px;
}
/* line 26, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 58.33333%;
  margin-left: 0%;
  margin-right: 0%;
  display: table;
  height: 100%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--right:before, .flickr__wrapper .flickr__content--right:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--right:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--right:last-child {
  margin-right: 0%;
}
/* line 30, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--right .flickr__content--image {
  width: 95%;
  display: table-cell;
  vertical-align: middle;
  padding-right: 5%;
}
/* line 35, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--right .flickr__content--image .flickr__content--image-wrapper {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 24.25%;
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 5px;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--right .flickr__content--image .flickr__content--image-wrapper:before, .flickr__wrapper .flickr__content--right .flickr__content--image .flickr__content--image-wrapper:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--right .flickr__content--image .flickr__content--image-wrapper:after {
  clear: both;
}
/* line 50, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--right .flickr__content--image .flickr__content--image-wrapper:nth-of-type(4n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../sass/vendor/jeet/_grid.scss */
.flickr__wrapper .flickr__content--right .flickr__content--image .flickr__content--image-wrapper:nth-of-type(4n + 1) {
  clear: both;
}
/* line 38, ../sass/page/_xflickr.scss */
.flickr__wrapper .flickr__content--right .flickr__content--image .flickr__content--image-wrapper img {
  width: 100%;
}

/* line 45, ../sass/page/_xflickr.scss */
.contact__wrapper {
  display: table;
}
/* line 47, ../sass/page/_xflickr.scss */
.contact__wrapper .contact__wrapper--inner {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 600px;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.contact__wrapper .contact__wrapper--inner:before, .contact__wrapper .contact__wrapper--inner:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.contact__wrapper .contact__wrapper--inner:after {
  clear: both;
}
/* line 54, ../sass/page/_xflickr.scss */
.contact__wrapper h1 {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  line-height: 30px;
}

/* line 60, ../sass/page/_xflickr.scss */
.form {
  width: 650px;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 6em;
}

/* line 69, ../sass/page/_xflickr.scss */
.btn-primary {
  box-shadow: 0;
  border: none;
  background-color: #3F2E40;
  border-color: #48c9b0;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}

/* line 90, ../sass/page/_xflickr.scss */
.btn-primary:hover {
  background-color: #1ABC9C;
}

/* line 94, ../sass/page/_xflickr.scss */
.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}

/* line 100, ../sass/page/_xflickr.scss */
.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}

/* line 109, ../sass/page/_xflickr.scss */
.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #231f20;
  border-radius: 0;
  font-size: 15px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

/* line 122, ../sass/page/_xflickr.scss */
input, textarea {
  transition: all 800ms;
  resize: none;
  /* removes the resize handle */
  overflow: auto;
  /* removes default scrolling bars in IE */
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 4px;
  color: #231f20;
  margin-top: 1.25em;
  background-color: transparent;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #231f20;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #231f20;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #231f20;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #231f20;
}

/* line 140, ../sass/page/_xflickr.scss */
.has-error input, .has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

/* line 145, ../sass/page/_xflickr.scss */
.has-error .input-field-icon {
  color: #e74c3c;
}

/* line 149, ../sass/page/_xflickr.scss */
.has-success input, .has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}

/* line 154, ../sass/page/_xflickr.scss */
.has-success .input-field-icon {
  color: #2ecc71;
}

/* line 159, ../sass/page/_xflickr.scss */
input:focus, textarea:focus {
  border-color: #48c9b0;
  color: #34495e;
}

/* line 164, ../sass/page/_xflickr.scss */
input:focus + .input-field-icon {
  color: #34495e;
}

/* line 168, ../sass/page/_xflickr.scss */
textarea.form-control {
  height: 120px;
  transition: .6s;
}

/* line 173, ../sass/page/_xflickr.scss */
textarea.form-control:focus {
  height: 200px;
  border-color: #48c9b0;
}

/* line 178, ../sass/page/_xflickr.scss */
.social {
  display: block;
  margin: auto;
  width: 250px;
}

/* line 184, ../sass/page/_xflickr.scss */
.social li {
  display: inline-block;
  list-style: none;
  margin: auto;
  margin-right: 10px;
}

/* line 191, ../sass/page/_xflickr.scss */
.social li a {
  display: block;
  text-decoration: none;
  color: #999;
  border: 2px solid #999;
  border-radius: 100%;
  font-size: 26px;
  width: 34px;
  padding: 3px;
  text-align: center;
  transition: all .4s;
}

/* line 204, ../sass/page/_xflickr.scss */
.social li a:hover {
  background: #999;
  color: white;
}

/* line 209, ../sass/page/_xflickr.scss */
.social li a span {
  margin-top: 4px;
  text-align: center;
}

@media (max-width: 600px) {
  /* line 216, ../sass/page/_xflickr.scss */
  .form {
    width: 90%;
    margin-top: 12%;
  }
}
