body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $brand-color;
	color: $brand-color2;
	overflow: hidden;
}
* a{
	text-decoration: none;
	color: $brand-color2;
}

section {
	float: left !important;
	position: relative;
}
%center{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.QOverlay {
	background-color: #000000;
	z-index: 9999;
}

.QLoader {
	background-color: #CCCCCC;
	height: 1px;
}