@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Grand+Hotel|EB+Garamond|Dancing+Script:400,700);
$lato: 'Lato', sans-serif;
$grand-hotel: 'Grand Hotel', cursive;
$eb: 'EB Garamond', serif;
$dancing: 'Dancing Script', cursive;



