.overview {
	padding-top: 0;
	// height: 100vh;
	display: table;
	margin: 60px auto;
	.container {
		display: table-cell;
		vertical-align: middle;
	}
	.feature {
		img {
			margin-bottom: 20px;
		}
		p{
			padding: 0 20px;
			&.headline {
				text-transform: uppercase;
				font-size: 18px;
			}
		}
	}
}
.video {
	margin-top: 50px;
}
.ask {
	margin-top: 20px;
	input {
		background-color: transparent;
		border: 1px solid $base_green;
		color: white;
		border-radius: 0;
		border-right: 0px solid transparent;
		height: 60px;
		font-size: 18px;
	}
	.btn {
		height: 60px;
		font-size: 18px;
		background-color: transparent;
		color: $base_green;
		border-color: $base_green;
		border-left: 0px solid transparent;
	}

	.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
		background-color: transparent;
		border-color: $base_green;
		color: $base_green;
	}

	.form-control:focus,
	.btn-default:focus {
	    border-color: $base_green;
	    outline: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
	}
	::-webkit-input-placeholder {
	   color: rgba(255,255,255,0.5);
	}

	:-moz-placeholder { 
	   color: rgba(255,255,255,0.5);
	}

	::-moz-placeholder {  
	   color: rgba(255,255,255,0.5);
	}

	:-ms-input-placeholder {  
	   color: white;  
	}
}