.top-notification-wrapper{
	width: 100%;
	background-color: $Brand-red;
	height: 80px;
	@include clearfix;
	.top-left-angel{
		position: absolute;
		left: 0;
		top: 0;
		@include triangle(110px 30px, $Brand-blue transparent, up-left);
	}
	.bottom-right-angel{
		position: absolute;
		right: 0;
		bottom: 0;
		@include triangle(110px 30px, $Brand-blue transparent, down-right);
	}
	.text-holder{
		width: 88%;
		height: auto;
		margin-left: 40px;
		p{
			font-size: 16px;
			margin-top: 30px;
			display: inline-block;
			span{
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
	.timer-box {
		width: auto;
		bottom: 0; 
		left: auto;
		top: 40px;
		right: 50px;
		p{
			font-size: 30px;
			padding-bottom: 2px;
			text-align: center;
			margin-top: 0;
			span{
				font-size: 12px;
				text-decoration: none;
			}
		}
	}
}
@include responsive(mobile){
	.top-notification-wrapper{
		height: 160px;
		.text-holder{
			width: 87%;
			margin-left: 6%;
			text-align: center;
			p{
				margin-top: 22px;
			}
		}
		.timer-box{
			width: 100%;
			bottom: 0; 
			left: 0;
			top: auto;
			right: 0px;
		}
	}
}
@include responsive(big-mobile){
	.top-notification-wrapper{
		height: 150px;
		.text-holder{
			width: auto;
			margin-left: 13%;
			p{
				margin-top: 22px;
			}
		}
		.timer-box{
			width: 100%;
			bottom: 0; 
			left: 0;
			top: auto;
			right: 0px;
		}
	}
}
@include responsive(tab-portrait){
	.top-notification-wrapper{
		height: 130px;
		.text-holder{
			width: auto;
			margin-left: 13%;
			p{
				margin-top: 22px;
			}
		}
		.timer-box{
			width: 100%;
			bottom: 0; 
			left: 0;
			top: auto;
			right: 0px;
		}
	}
}
@include responsive(tab-landscape){
	.top-notification-wrapper{
		.text-holder{
			width: 48%;
			p{
				margin-top: 22px;
			}
		}
	}
}
@include responsive(small-desktop){
	.top-notification-wrapper{
		.text-holder{
			width: 56%;
			p{
				margin-top: 22px;
			}
		}
	}
}
