@font-face {
  font-family: 'epistocracy';
  src: font-url('epistocracy.eot?-a5tqu5');
  src: font-url('epistocracy.eot?#iefix-a5tqu5') format('embedded-opentype'),
    font-url('epistocracy.woff?-a5tqu5') format('woff'),
    font-url('epistocracy.ttf?-a5tqu5') format('truetype'),
    font-url('epistocracy.svg?-a5tqu5#epistocracy-10') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'epistocracy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// <i class="icon-epistocracy-logo">
//   <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
// </i>


.icon-search:before {
  content: "\e61b";
}
.icon-arrow-down:before {
  content: "\e61a";
}
.icon-arrow-up:before {
  content: "\e619";
}
.icon-caret-down:before {
  content: "\e618";
}
.icon-uncheck:before {
  content: "\e617";
}
.icon-check:before {
  content: "\e616";
}
.icon-angle-right:before {
  content: "\e614";
}
.icon-angle-up:before {
  content: "\e615";
}
.icon-close:before {
  content: "\e613";
}
.icon-angle-down:before {
  content: "\e612";
}
.icon-angle-left:before {
  content: "\e611";
}
.icon-twitter:before {
  content: "\e610";
}
.icon-e:before {
  content: "\e600";
}
.icon-epistocracy-logo .path1:before {
  content: "\e601";
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path2:before {
  content: "\e602";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path3:before {
  content: "\e603";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path4:before {
  content: "\e604";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path5:before {
  content: "\e605";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path6:before {
  content: "\e606";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path7:before {
  content: "\e607";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path8:before {
  content: "\e608";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path9:before {
  content: "\e609";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path10:before {
  content: "\e60a";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path11:before {
  content: "\e60b";
  margin-left: -4.1484375em;
  color: rgb(255, 255, 255);
}
.icon-epistocracy-logo .path12:before {
  content: "\e60c";
  margin-left: -4.1484375em;
  color: rgb(249, 165, 49);
}
.icon-google:before {
  content: "\e60d";
}
.icon-linkedin:before {
  content: "\e60e";
}
.icon-facebook:before {
  content: "\e60f";
}
